body {
    background-color: #555;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}

.container {
    background-color: #444;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #555;
}

.bmi-guide {
    
    margin-top: 50px;
    font-size: 14px;
}

#result {
    padding: 5px;
    margin-top: 25px;
    font-weight: bold;
    font-size:25px;
    border-radius: 12px;
}
#dis{
    padding: 5px;
    margin-top: 2px;
    font-weight: bold;
    font-size:20px;
    
}
